* {
    box-sizing: border-box;
}
.container-fluid {
    border: solid 1px;
    height: 635px;
}
.col-sm-4 {
    border: solid 1px white;
    background: linear-gradient(to bottom, rgb(214, 211, 209), rgb(148, 163, 184));
    height: 635px;
    padding: 10px;
}
.col-sm-8 {
    border: 1px solid;
    background: linear-gradient(to bottom, rgb(232, 121, 249), rgb(126, 34, 206));
    height: 635px;
}
h1{
  margin-top: 50px;
}
form {
    margin-top: 170px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit], #button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover, #button:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
#button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 50%;
    margin-left: 70px;
    margin-bottom: 20px;
    height: 40px;
    background: linear-gradient(to bottom, rgb(232, 121, 249), rgb(126, 34, 206));
}
#button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
    background: transparent;
}
.table tr:nth-child(even) {
    background: transparent;
}
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: transparent;
    color: white;
}
.update {
    display: none;
}